In [1]:
import random
import pandas as pd

In [2]:
barrios = ['Centro','Carabanchel','Retiro','Salamanca','Tetúan','Fuencarral','Usera','Moratalaz','Hortaleza']

In [3]:
dataEne = {'Barrio':  barrios,
           'Mes': 1,
           'Pases Diarios': random.sample(range(700, 1800), 9),
           'Altas': random.sample(range(50, 200), 9),
           'Bajas': random.sample(range(20, 90), 9),
           'Aforo Spining %': random.sample(range(50, 80), 9),
           'Aforo Zumba %': random.sample(range(50, 80), 9),
           'Aforo Pilates %': random.sample(range(50, 80), 9)}

In [4]:
reportEne = pd.DataFrame(dataEne)

In [5]:
reportEne

,Barrio,Mes,Pases Diarios,Altas,Bajas,Aforo Spining %,Aforo Zumba %,Aforo Pilates %
0,Centro,1,1753,163,58,62,74,60
1,Carabanchel,1,1293,160,61,72,57,73
2,Retiro,1,1572,77,31,63,52,61
3,Salamanca,1,705,73,22,54,69,68
4,Tetúan,1,943,71,53,68,53,74
5,Fuencarral,1,1249,59,52,74,63,52
6,Usera,1,1095,179,87,50,50,55
7,Moratalaz,1,1132,140,62,64,73,65
8,Hortaleza,1,816,148,48,60,56,56

In [6]:
dataFeb = {'Barrio':  barrios,
           'Mes': 2,
             'Pases Diarios': random.sample(range(700, 1800), 9),
             'Altas': random.sample(range(50, 200), 9),
             'Bajas': random.sample(range(20, 90), 9),
             'Aforo Spining %': random.sample(range(50, 80), 9),
             'Aforo Zumba %': random.sample(range(50, 80), 9),
             'Aforo Pilates %': random.sample(range(50, 80), 9)}

In [7]:
reportFeb = pd.DataFrame(dataFeb)

In [8]:
reportFeb

,Barrio,Mes,Pases Diarios,Altas,Bajas,Aforo Spining %,Aforo Zumba %,Aforo Pilates %
0,Centro,2,1177,132,33,60,57,55
1,Carabanchel,2,819,126,30,74,62,71
2,Retiro,2,893,86,48,69,73,56
3,Salamanca,2,1285,106,47,50,50,52
4,Tetúan,2,1697,142,50,53,69,64
5,Fuencarral,2,1494,177,43,61,76,73
6,Usera,2,815,83,57,62,52,76
7,Moratalaz,2,1559,196,25,67,58,62
8,Hortaleza,2,751,78,28,70,77,79

In [9]:
reportEne.to_excel(r'reportEne.xlsx', index = False)

In [10]:
reportFeb.to_excel(r'reportFeb.xlsx', index = False)